header,
.flaticon-attribution,
.spinner {
    color: #fff;
}

.spinner {
    background-color: #454d55;
}

.logo {
    width: 50px;
}

nav {
    border: 5px solid #fff;
    border-radius: 5px;
}

.table-responsive {
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}

/* react-bootstrap Pagination component has no dark theme,
The below is added to override it */
.page-item.active .page-link {
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}

.page-link:hover {
    color: rgba(0, 0, 0, .5) !important;
    background-color: #e9ecef !important;
    border-color: #dee2e6 !important;
}

.page-link {
    color: rgba(0, 0, 0, .5) !important;
}